
h1 {
	text-align: center;
}
body {
    text-align: center;
    background: url(https://postimg.org/image/5bpimr5et/);
    background-size: cover;
    color: #002544;
    font-family: Helvetica;
}

#slogan {
	font-style: italic;
}
p {
	font-size: 22px;
}